body {
  background-color: #fff;
  display: block;
  width: 65%;
  margin: 67px auto;
  background-color: #ffffff;
  background-image: url(https://images.pexels.com/photos/783796/pexels-photo-783796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-family: "Source Code Pro", monospace;
}

div {
  color: black;
  font-family: "Source Code Pro", monospace;
}

input {
  background: none;
  color: black;
  border-color: #fff;
  font-family: "Source Code Pro", monospace;
  border-style: groove;
  text-align: center;
}

.weather-app {
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
}

.search-bar {
  display: block;
  margin: 0 auto;
}

.search {
  border-radius: 10px;
  padding: 0 15px;
  margin: 0;
  height: 35px;
  font-size: 17px;
  border: #66a4ad;
  display: inline;
  margin-right: 23px;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
}
.search:hover {
  background: #ec6e4c;
  color: black;
  border: none;
}

.weather-app {
  background-color: transparent;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 6px 13px rgb(0 0 0 / 5%);
  backdrop-filter: blur(10px);
}

.search-bar {
  display: block;
  margin: 0 auto;
  margin-right: -10px;
}

.html {
  scroll-behavior: smooth;
}
.cityName {
  text-align: center;
}
.iconHere {
  margin-right: -10px;
}
.overview {
  margin-bottom: 20px;
  margin-top: 20px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.placeholder {
  margin: 0 auto;
  display: block;
}
.btn-light {
  padding: 4px;
}

.col-12 {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.input {
  border-style: dashed;
}
.weatherDescription {
  font-size: 20px;
  color: #cc572d;
  text-align: center;
  font-weight: lighter;
  opacity: 0.8;
}
.fa-map-marker-alt {
  margin-right: 10px;
}
.icon {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.currentTemp {
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.col-2 {
  text-align: center;
  font-size: 12px;
  color: #cc572d;
}

.details {
  text-align: center;
  color: black;
}

.col-4.mainInfo {
  text-align: center;
  padding: 80px 0;
  font-size: 35px;
}

.weather-forecast-day {
  margin-top: 10px;
  text-align: center;
  color: #cc572d;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  margin: 0 auto;
  display: block;
}

.weather-forecast-temperature-max {
  text-align: center;
  color: black;
  font-family: "Source Code Pro", monospace;
}
.weather-forecast-temperature-min {
  text-align: center;
  color: black;
  font-family: "Source Code Pro", monospace;
  margin-top: -10px;
  opacity: 0.7;
}
.smallImg {
  margin: 0 auto;
  display: block;
}
.units {
  text-align: center;
  margin-top: 34px;
  color: black;
}
.tempUnit {
  color: black;
}
.tempUnit:hover {
  font-weight: bold;
  color: #cc572d;
  cursor: pointer;
  text-decoration: none;
}

.updateTime {
  color: black;
  opacity: 0.7;
  margin-left: 2px;
  font-size: 14px;
}

.circle {
  background-blend-mode: normal, multiply;
  width: 150px;
  padding: 23px;
  margin: 20px auto 0;
  display: block;
}

.fa-map-marker-alt {
  margin-left: -20px;
}

.fa-wind {
  margin: auto;
  display: block;
  color: black;
  opacity: 0.8;
}
.fa-arrow-down {
  margin: auto;
  display: block;
  color: black;
  opacity: 0.8;
}
.fa-arrow-up {
  margin: auto;
  display: block;
  color: black;
  opacity: 0.8;
}

.fa-tint {
  margin: auto;
  display: block;
  color: black;
  opacity: 0.8;
}

h6 {
  font-size: 12px;
  text-align: center;
  color: black;
  font-family: "Source Code Pro", monospace;
}
